<!DOCTYPE html>
<html>
    
 <div id="logo">
     <%= image_tag("simform.png", :width => 150) %>
    </div>
    
  <head>
    <title> Welcome</title>
  </head>
    <h1>Welcome to Skill stack!</h1>

  <body>
   
    <div id= "info">
        Every employee have many skills. Keeping a note of 
        skills of all the employees is a tedious task. 
        Join to keep track of your employee's skills.
    </div>
    <div id ="btn">
      <%= link_to "Join now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body> 
</html>

